main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px 0;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 20px;
}

.error {
    color: red;
    font-weight: bold;
    margin: 10px 0;
    font-size: 14px;
}

.error-message {
    color: white;
    background-color: red;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
}

.search-team-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
}

.search-team-form form {
    display: flex;
    gap: 10px;
    width: 100%;
}

.search-team-form .submit-button {
    background-color: #F24822 !important;
    color: #fff;
    border-radius: 5px;
    width: 10%;
    transition: background-color 0.3s, transform 0.2s;
}

.search-team-form .submit-button:hover {
    transform: scale(1.05);
}

.searched-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.titule {
    width: 80%;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 4px solid #F24822;
    padding-bottom: 10px;
}

.teams-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    width: 80%;
}

.team-card {
    border-radius: 5px;
    border: 2px solid #F24822;
    padding: 20px;
    width: 250px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.team-card:hover {
    transform: translateY(-5px);
}

.team-card {
    border-radius: 10px;
    border: 2px solid #F24822;
    padding: 20px;
    width: 250px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.team-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.team-card p {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}

.add-team-card {
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    width: 80vw;
}

.submit-button{

    display: flex;
    justify-content: center;
    align-items: center;

}

.MuiButton-icon{

    margin: 0 !important;

}

.add-team-card .submit-button {
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    width: 10vw;
    background-color: #F24822;
}

.MuiPaper-root {
    background-color: #f8f9fa;
    width: 400px;
}

.MuiDialogContent-root {
    padding: 20px;
    border: 2px solid #F24822;
    border-radius: 8px;
    background-color: #fff;
}

.MuiDialogContent-root p {
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

/* Adiciona espaçamento entre ícone e texto */
.MuiButton-startIcon {
    margin-right: 8px;
}

/* Estilo para botões com ícones */
.button-with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}