main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 20px;
}

.error {
    color: red;
    font-weight: bold;
}

.teams-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.team-card {
    border-radius: 10px;
    border: 2px solid #F24822;
    padding: 20px;
    width: 250px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.team-card:hover{
    transform: translateY(-5px);
}

.team-logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
}

.team-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.team-card p {
    margin: 5px 0;
    font-size: 1em;
}
