header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-bottom: 5px solid #f10000;
}

header h1 {
    color: #f10000;
    font-size: 1.5rem;
}
